In [1]:

# python3 
# https://dluo.me/s3databoto3

import os 
import pandas as pd
import pymysql
from pymysql import *

In [2]:

def get_mysql_conn(host, user, database):
        #conn = pymysql.connect(
        #host = '127.0.0.1',
        #port = 3306,
        #user = 'root',
        #db = 'local_dev')
        conn = pymysql.connect(
                host = host,
                port = 3306,
                user = user,
                db =database)
        return conn

In [3]:
host = '127.0.0.1'
user = 'root'
database = 'local_dev'
mysql_conn = get_mysql_conn(host, user, database)
cursor = mysql_conn.cursor()

In [4]:
print (mysql_conn)
print (cursor)

<pymysql.connections.Connection object at 0x11252e6d8>
<pymysql.cursors.Cursor object at 0x11252e748>

In [5]:
# read data via pymysql

SQL = "select * from movie_metadata limit 10 ; "
cursor.execute(SQL)
cursor.fetchall()

((0,
  'Color',
  'James Cameron',
  723.0,
  178.0,
  0.0,
  855.0,
  'Joel David Moore',
  1000.0,
  760505847.0,
  'Action|Adventure|Fantasy|Sci-Fi',
  'CCH Pounder',
  'Avatar\xa0',
  886204,
  4834,
  'Wes Studi',
  0.0,
  'avatar|future|marine|native|paraplegic',
  'http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1',
  3054.0,
  'English',
  'USA',
  'PG-13',
  237000000.0,
  2009.0,
  936.0,
  7.9,
  1.78,
  33000),
 (1,
  'Color',
  'Gore Verbinski',
  302.0,
  169.0,
  563.0,
  1000.0,
  'Orlando Bloom',
  40000.0,
  309404152.0,
  'Action|Adventure|Fantasy',
  'Johnny Depp',
  "Pirates of the Caribbean: At World's End\xa0",
  471220,
  48350,
  'Jack Davenport',
  0.0,
  'goddess|marriage ceremony|marriage proposal|pirate|singapore',
  'http://www.imdb.com/title/tt0449088/?ref_=fn_tt_tt_1',
  1238.0,
  'English',
  'USA',
  'PG-13',
  300000000.0,
  2007.0,
  5000.0,
  7.1,
  2.35,
  0),
 (2,
  'Color',
  'Sam Mendes',
  602.0,
  148.0,
  0.0,
  161.0,
  'Rory Kinnear',
  11000.0,
  200074175.0,
  'Action|Adventure|Thriller',
  'Christoph Waltz',
  'Spectre\xa0',
  275868,
  11700,
  'Stephanie Sigman',
  1.0,
  'bomb|espionage|sequel|spy|terrorist',
  'http://www.imdb.com/title/tt2379713/?ref_=fn_tt_tt_1',
  994.0,
  'English',
  'UK',
  'PG-13',
  245000000.0,
  2015.0,
  393.0,
  6.8,
  2.35,
  85000),
 (3,
  'Color',
  'Christopher Nolan',
  813.0,
  164.0,
  22000.0,
  23000.0,
  'Christian Bale',
  27000.0,
  448130642.0,
  'Action|Thriller',
  'Tom Hardy',
  'The Dark Knight Rises\xa0',
  1144337,
  106759,
  'Joseph Gordon-Levitt',
  0.0,
  'deception|imprisonment|lawlessness|police officer|terrorist plot',
  'http://www.imdb.com/title/tt1345836/?ref_=fn_tt_tt_1',
  2701.0,
  'English',
  'USA',
  'PG-13',
  250000000.0,
  2012.0,
  23000.0,
  8.5,
  2.35,
  164000),
 (4,
  None,
  'Doug Walker',
  None,
  None,
  131.0,
  None,
  'Rob Walker',
  131.0,
  None,
  'Documentary',
  'Doug Walker',
  'Star Wars: Episode VII - The Force Awakens\xa0            ',
  8,
  143,
  None,
  0.0,
  None,
  'http://www.imdb.com/title/tt5289954/?ref_=fn_tt_tt_1',
  None,
  None,
  None,
  None,
  None,
  None,
  12.0,
  7.1,
  None,
  0),
 (5,
  'Color',
  'Andrew Stanton',
  462.0,
  132.0,
  475.0,
  530.0,
  'Samantha Morton',
  640.0,
  73058679.0,
  'Action|Adventure|Sci-Fi',
  'Daryl Sabara',
  'John Carter\xa0',
  212204,
  1873,
  'Polly Walker',
  1.0,
  'alien|american civil war|male nipple|mars|princess',
  'http://www.imdb.com/title/tt0401729/?ref_=fn_tt_tt_1',
  738.0,
  'English',
  'USA',
  'PG-13',
  263700000.0,
  2012.0,
  632.0,
  6.6,
  2.35,
  24000),
 (6,
  'Color',
  'Sam Raimi',
  392.0,
  156.0,
  0.0,
  4000.0,
  'James Franco',
  24000.0,
  336530303.0,
  'Action|Adventure|Romance',
  'J.K. Simmons',
  'Spider-Man 3\xa0',
  383056,
  46055,
  'Kirsten Dunst',
  0.0,
  'sandman|spider man|symbiote|venom|villain',
  'http://www.imdb.com/title/tt0413300/?ref_=fn_tt_tt_1',
  1902.0,
  'English',
  'USA',
  'PG-13',
  258000000.0,
  2007.0,
  11000.0,
  6.2,
  2.35,
  0),
 (7,
  'Color',
  'Nathan Greno',
  324.0,
  100.0,
  15.0,
  284.0,
  'Donna Murphy',
  799.0,
  200807262.0,
  'Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance',
  'Brad Garrett',
  'Tangled\xa0',
  294810,
  2036,
  'M.C. Gainey',
  1.0,
  '17th century|based on fairy tale|disney|flower|tower',
  'http://www.imdb.com/title/tt0398286/?ref_=fn_tt_tt_1',
  387.0,
  'English',
  'USA',
  'PG',
  260000000.0,
  2010.0,
  553.0,
  7.8,
  1.85,
  29000),
 (8,
  'Color',
  'Joss Whedon',
  635.0,
  141.0,
  0.0,
  19000.0,
  'Robert Downey Jr.',
  26000.0,
  458991599.0,
  'Action|Adventure|Sci-Fi',
  'Chris Hemsworth',
  'Avengers: Age of Ultron\xa0',
  462669,
  92000,
  'Scarlett Johansson',
  4.0,
  'artificial intelligence|based on comic book|captain america|marvel cinematic universe|superhero',
  'http://www.imdb.com/title/tt2395427/?ref_=fn_tt_tt_1',
  1117.0,
  'English',
  'USA',
  'PG-13',
  250000000.0,
  2015.0,
  21000.0,
  7.5,
  2.35,
  118000),
 (9,
  'Color',
  'David Yates',
  375.0,
  153.0,
  282.0,
  10000.0,
  'Daniel Radcliffe',
  25000.0,
  301956980.0,
  'Adventure|Family|Fantasy|Mystery',
  'Alan Rickman',
  'Harry Potter and the Half-Blood Prince\xa0',
  321795,
  58753,
  'Rupert Grint',
  3.0,
  'blood|book|love|potion|professor',
  'http://www.imdb.com/title/tt0417741/?ref_=fn_tt_tt_1',
  973.0,
  'English',
  'UK',
  'PG',
  250000000.0,
  2009.0,
  11000.0,
  7.5,
  2.35,
  10000))

In [6]:
# read data via pandas

df = pd.read_sql(SQL,con=mysql_conn)
df

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,None,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,None,None,None,NaN,NaN,12.0,7.1,NaN,0
5,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000